<div class="container">
  <div class="row mx-2">
    <h1>メインタスク作成</h1>
  </div>
  <%= form_with model: @main_task, url: user_main_tasks_path(current_user.id), method: :post do |f| %>
  <div class="border rounded px-2 my-2">
    <p class="font-weight-bold"><%= f.label :category_id, "カテゴリー" %></p>
    <p><%= f.collection_select(:category_id, @categories, :id, :category) %></p>
    <p class="font-weight-bold"><%= f.label :main_task, "メインタスク(必須)" %></p>
    <p><%= f.text_field :main_task, :size=>"40" %></p>
    <p class="font-weight-bold"><%= f.label :memo, "メモ" %></p>
    <p><%= f.text_area :memo, :size=>"43x2" %></p>
    <p class="font-weight-bold"><%= f.label :due_date, "期日" %></p>
    <p><%= f.date_field :due_date %></p>
    <p class="font-weight-bold">
      <%= f.label :is_today_task, "TodayTaskに追加する" %>
      <%= f.check_box :is_today_task, {}, "true", "false" %>
    </p>
    <p class="font-weight-bold"><%= f.submit "作成" %></p>
  </div>
  <% end %>
</div>