<div class="container">
  <div class="row mx-2">
    <h1>メインタスク詳細ページ</h1>
  </div>
  <div class="border rounded px-2 my-2">
    <p class="font-weight-bold">メインタスク</p>
    <p><%= @main_task.main_task %></p>
  </div>
  <div class="border rounded px-2 my-2">
    <p class="font-weight-bold">カテゴリー</p>
    <% if @main_task.category.present? %>
      <p><%= @main_task.category.category %></p>
    <% else %>
      <p>なし</p>
    <% end %>
  </div>
  <div class="border rounded px-2 my-2">
    <p class="font-weight-bold">メモ</p>
    <% if @main_task.memo.present? %>
      <p><%= @main_task.memo %></p>
    <% else %>
      <p>メモはありません</p>
    <% end %>
  </div>
  <div class="border rounded px-2 my-2">
    <p class="font-weight-bold">期日</p>
    <% if @main_task.due_date.present? %>
      <p><%= @main_task.due_date.strftime('%Y年%m月%d日') %></p>
    <% else %>
      <p>期日がありません</p>
    <% end %>
  </div>
  <div class="border rounded px-2 my-2">
    <p class="font-weight-bold">タスクステータス</p>
    <p><%= MainTask.statuses_i18n[@main_task.status] %></p>
  </div>
    <div class="border rounded px-2 my-2">
      <p class="font-weight-bold">Today Taskフラグ</p>
    <% if @main_task.is_today_task == true %>
      <p>はい</p>
    <% elsif @main_task.is_today_task == false %>
      <p>いいえ</p>
    <% end %>
  </div>
  <%= link_to "編集", edit_user_main_task_path(@main_task.user_id,@main_task.id), class: "border border-dark btn-light btn-sm" %>
</div>